{# Template en cas de vote sans être connecté #}

{% extends "layout.html.twig" %}

{% block title_img %}
    {{ img("title/img_vote.png") }}
{% endblock %}

{% block page %}
    <b>Vous n'êtes pas connecté, vous ne recevrez donc aucuns points lors de ce vote !</b><br/><br/>
    <center>Veuillez vous connecter <br/>
	<em>ou</em><br/>
	<b><a href="{{ config.points.url_vote }}">Voter quand même</a></b>
    </center>
{% endblock %}