{# template d'erreur 404 not found #}
{% extends "layout.html.twig" %}
{% block title_img %}
    <center>{{ img("title/img_404.png") }}</center>
{% endblock %}
    
{% block page %}
    <div class="verifNO">
        <h3>{{ img("devtool/error.png", "devtollIcon") }}Erreur 404</h3>
        La page que vous demandez est introuvable ou n'existe pas, vérifiez votre <b>url</b> !
        <hr/>
        {{ link("aller à la page d'acceuil", "home") }}
        
   </div>
{% endblock %}